# django-github-s3
# https://github.com/vivekchandrabs/django-github-s3
GITHUB_HANDLE = "Your Github Handle"
ACCESS_TOKEN = "Your Github Access Token"
GITHUB_REPO_NAME = "Your New Github Public Repository Name"
MEDIA_BUCKET_NAME = "Your media bucket name"