{% extends 'base.html' %}
{% load static %}

{% block content %}
{% url 'main:create' as create_url %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if request.path !=  create_url %}
    <p>{{object.content_type}}</p>
    {% endif %}

    {{ form.as_p }}

    {% if request.path ==  create_url %}
    <input type="submit" value="投稿">
    {% else %}
    <input type="submit" value="更新">
    {% endif %}

</form>
{{form.errors}}
{{form.media}}

{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}