{% extends 'base.html' %}
{% load static %}

{% block body_id %}artworkcreate{% endblock %}

{% block content %}
{% url 'main:create' as create_url %}
<main>
    <form method="post" enctype="multipart/form-data" name="form">
        {% csrf_token %}

        {% if request.path != create_url %}
        <p>コンテンツの種類: {{ object.content_type }}</p>
        {% else %}
        {{ form.content_type }}
        {{ form.content_type.errors }}
        {% endif %}

        <p>{{ form.title }}</p>
        <p>
            <label for="{{ form.thumbnail.id_for_label }}">
                {{ form.thumbnail.label }}を選択
                {{ form.thumbnail }}
            </label>
            <img id="preview" src="{{ object.thumbnail.url }}" alt="">
            {{ form.thumbnail.errors }}
        </p>
        <p>{{ form.url }}</p>
        <p>{{ form.url.errors }}</p>

        {{ form.description }}
        {{ form.description.errors }}
        {% if request.path == create_url %}
        <input type="submit" value="投稿する">
        {% else %}
        <input type="submit" value="更新する">
        {% endif %}
    </form>
</main>

{% endblock %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
<script>
$('#{{ form.thumbnail.id_for_label }}').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});

{% comment %}
// select変更時にrequiredを付け外しする
$('select').on("change load" ,function(e){
    var val = $(this).val();
    var embed_types = new Array("scratch", "unity", "web", "artwork3d")
    var url_input = $('input[name="url"]')
    if (embed_types.includes(val)) {
        console.log(val);
        url_input.attr('required', true);
    } else {
        url_input.removeAttr('required');
    }
});
{% endcomment %}

$('input[name="thumbnail"]').removeAttr('required max min maxlength pattern');
</script>
{% endblock %}