{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block body_id %}artwork{% endblock %}

{% block content %}
<main>
    <article>
        <h3>{{ content.title }}</h3>
        <figure>
            {% if content.is_embed_type %}
            {{ content.embed_html|safe }}
            {% endif %}
            {% if not content.is_embed_type and content.thumbnail %}
            <img src="{{ content.thumbnail.url }}" alt="作品サムネイル">
            {% endif %}
        </figure>

        <div>
            <img src="{{ content.creator.icon.url }}" alt="">
            <p>{{ content.creator.username }}</p>
            <time datetime="{{ content.created_at|date:'Y-m-d' }}">{{ content.created_at|date:"Y/m/d" }}</time>
        </div>

        <div>{{ content.description|markdown_to_html_with_escape }}</div>

        <div>
            {% if is_creator %}
            <p><a href="{% url 'main:update' content.pk %}">編集する</a></p>
        
            <form action="{% url 'main:delete' content.pk %}" method="post" onsubmit="return confirm_cancel('{{ content.title }}を削除しますか？')" name="form_delete">
                {% csrf_token %}
                <button type="submit"><a>削除する</a></button>
            </form>
            {% endif %}
        </div>
    </article>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}