{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block content %}

<div class="content-card">
    <h5>{{content.title}} - {{content.creator}}</h5>
    {% if content.is_embed_type %}
    {{content.embed_html|safe}}
    {% endif %}
    {% if not content.is_embed_type and content.thumbnail %}
    <img src="{{content.thumbnail.url}}" alt="作品サムネイル">
    {% endif %}
    <p>{{content.description|markdown_to_html_with_escape}}</p>
</div>

{% if is_creator %}
<a href="{% url 'main:update' content.pk %}">編集</a>

<form action="{% url 'main:delete' content.pk %}" method="post" onsubmit="return confirm_cancel('{{content.title}}を削除しますか？')">
    {% csrf_token %}
    <input type="submit" value="削除">
</form>
{% endif %}

{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}