{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ////////////////// main ////////////////// -->
    <main>
        <!-- ////////////////// 最近の投稿 ////////////////// -->
        <div>
            <section>
                <h2>最近の投稿</h2>
                {% for content in recent_contents %}
                <a href="{% url 'main:detail' content.pk %}">
                    <article>
                        <h3>{{ content.title }}</h3>
                        <figure>
                            <img src="{{ content.thumbnail.url }}" alt="">
                        </figure>
                        <div>
                            <img src="{% static 'img/person.jpg' %}" alt="">
                            <p>{{ content.creator.name }}</p>
                            <time datetime="{{ content.created_at|date:'Y-m-d' }}">{{ content.created_at|date:"Y/m/d" }}</time>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </section>
        </div>
        

        <!-- ////////////////// Scratch ////////////////// -->
        {% for content_type, content_list in content_list_by_type.items %}
        <div id="{{ content_type }}">
            <section>
                <h2>{{ content_type }}</h2>
                {% for content in content_list %}
                <a href="#">
                    <article>
                        <h3>作品タイトル名</h3>
                        <figure>
                            <img src="{{ content.thumbnail.url }}" alt="">
                        </figure>
                        <div>
                            <img src="{% static 'img/person.jpg' %}" alt="">
                            <p>{{ content.creator.name }}</p>
                            <time datetime="{{ content.created_at|date:'Y-m-d' }}">{{ content.created_at|date:"Y/m/d" }}</time>
                        </div>
                    </article>
                </a>
                {% endfor %}
    
                <p><a href="{% url 'main:list_by_type' content_type %}">もっと見る</a></p>
            </section>
        </div>
        {% endfor %}
    </main>

{% endblock %}

{% block footer %}
     <!-- ////////////////// footer ////////////////// -->
     <footer>
        <div>
            <a href="https://twitter.com/login?lang=ja" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="https://ja-jp.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}