{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="content-list">

    {% for content in object_list %}
    <div class="content-card">
        <a href="{% url 'main:detail' content.pk %}">
            <h5>{{content.title}}</h5>
            <img src="{%if content.thumbnail %}{{content.thumbnail.url}}{% endif %}" alt="作品サムネイル">
            <p>{{content.description}}</p>
        </a>
    </div>
    {% endfor %}

    <div class="content-card" id="card-original" style="display: none;">
        <a href="">
            <h5></h5>
            <img src="" alt="サンプル">
            <p></p>
        </a>
    </div>

</div>


{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- <script>
var content = {
    "title": "さくひん",
    "image": "{% static 'images/sample.png' %}",
    "description": "さくひんのせつめい。さくひんのせつめい。さくひんのせつめい。さくひんのせつめい。さくひんのせつめい。"
}
var contents = []
for (i=0; i<10; i++) {
    contents.push(content)
}

function append_content() {
    console.log("append_content is called!")
    content_list = document.getElementById("content-list")
    contents.forEach(function(content){
        console.log("append content")
        content_elm = content_list.firstElementChild.cloneNode(true);
        content_elm.style.display = ""
        content_elm.id = ""
        content_a = content_elm.getElementsByTagName("a")[0]
        content_a.href = ""
        content_a.getElementsByTagName("h5")[0].innerText = content["title"]
        content_a.getElementsByTagName("img")[0].src = content["image"]
        content_a.getElementsByTagName("p")[0].innerText = content["description"]
        content_list.appendChild(content_elm)
    })
}

window.onload = function() {
    append_content()
}

</script> -->
{% endblock %}