{% extends 'base.html' %}
{% load static %}

{% block body_id %}index{% endblock %}

{% block header %}
<!-- ////////////////// header ////////////////// -->
<header>
    <figure>
        <img src="{% static 'img/web.png' %}" alt="">
    </figure>
    <!-- <div>
        <a href="#scratch"><img src="{% static 'img/scratch.jpg' %}" alt="">Scratch</a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#unity"><img src="{% static 'img/unity.jpg' %}" alt=""></a>
        <a href="#web"><img src="{% static 'img/web.png' %}" alt=""></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#modeling"><img src="{% static 'img/modeling.jpg' %}" alt=""></a>
    </div> -->
</header>
{% endblock %}

{% block content %}

    <!-- ////////////////// main ////////////////// -->
    <main>
        <!-- ////////////////// 最近の投稿 ////////////////// -->
        <div>
            <section>
                <h2>最近の投稿</h2>
                {% for content in recent_contents %}
                {% include 'main/content_card.html' %}
                {% endfor %}
            </section>
        </div>
        

        <!-- ////////////////// Scratch ////////////////// -->
        {% for content_type, content_list in content_list_by_type.items %}
        {% if content_list %}
        <div id="{{ content_type }}">
            <section>
                <h2>{{ content_type }}</h2>
                {% for content in content_list %}
                {% include 'main/content_card.html' %}
                {% endfor %}
    
                <p><a href="{% url 'main:list_by_type' content_type %}">もっと見る</a></p>
            </section>
        </div>
        {% endif %}
        {% endfor %}
    </main>

{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}