@charset "UTF-8";

/* ////////////////// 全デバイスの基本設定 ////////////////// */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

img, iframe {
    width: 100%;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

/* ////////////////// Smartphone 基本設定 ////////////////// */
/* ================== header ================== */
header {
    grid-column: 1 / -1;
    height: 100vh;
}

header figure {
    height: 100vh;
}

header img {
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

header #topImage {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}


#index header div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

#index header div img {
    height: 25vh;
}

/* #index header figure {
    height: 100%;
}

#index header div a {
    display: block;
    height: 100%;
    width: 100%;
}

#index header div a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* #index header figure {
    height: auto;
} */

/* #index header figure {
    height: auto;
    width: auto;
} */

/* #index header figure img {
    top: 0;
    left: 0;
    position: absolute;
} */

/* ================== main ================== */
main {
    grid-column: 1 / -1;
    margin-bottom: auto;
    overflow: hidden;
}

main > div {
    padding: 30px 0;
}

main > div:nth-last-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

main section {
    display: grid;
}

main section > a {
    display: block;
} 

main h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ec6c2b;
    text-align: center;
    margin: 30px 0;
}

main h3 {
    color: #000000;
    margin: 20px 0 20px 20px;
}

main section > a {
    padding: 20px 0;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.2);
}

main section > a:last-of-type {
    border: none;
}

main article > div {
    display: flex;
    margin: 20px 0;
}

main article > div img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

main article > div p {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    align-self: center;
}

main article > div img + p {
    margin-left: 20px;
}

main article > div time {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-left:auto;
    align-self: center;
}

main article > figure img {
    height: 60vw;
    object-fit: cover;
    vertical-align: bottom;
}

main article > figure figcaption {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

main > div > section > p {
    text-align: center;
    padding: 20px 0 40px;
}

main > div > section > p a {
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.5s;
    background-color: #ec6c2b;
    border-radius: 10px;
}

main > div > section > p a:hover {
    transition: background-color 0.5s;
    background-color: #ff4500 ;
}

main > div > section > div {
    display: flex;
    grid-column: 1 / -1;
    justify-self: center;
    padding: 100px 0;
    width: 100%;
    max-width: 500px;
    justify-content:space-around;
} 

main > div > section > div p {
    font-size: 15px;
}

main > div > section > div a {
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #ec6c2b;
}

/* ================== nav ================== */
nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 270px;
    margin-left: -270px;
    background-color: rgba(236, 108, 43, 0.7);
    z-index: 100;
    position: relative;
    position: fixed;
    transition: margin-left 1s;
}

.menuBar nav {
    margin-left: 0;
    transition: margin-left 1s;
}

nav ul {
    height: 100%;
    list-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

nav li a {
    display: block;
    padding: 17px;
    color: #ffffff;
    font-size: 17px;
    border-bottom: dashed 1px #ffffff;
}

nav li:first-of-type a {
    border-bottom: solid 1px #ffffff;
}

nav li a:hover {
    background-color: rgba(236, 108, 43, 0.9);
}

button {
    top: 10px;
    left: 20px;    
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 2px #000000;
    background-color: transparent;
    cursor: pointer;
    transition: left 1s;
    z-index: 100;
    position: fixed;
}

.menuBar button {
    left: 290px;
    transition: left 1s;
}

button + a {
    bottom: 0;
    padding: 4px;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
    right: 0;
    margin-right: 10px;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 0 0 2px #000000;
    background-color: transparent;
    cursor: pointer;
    z-index: 50;
    position: fixed;
}

.page-cover {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 75;
    position: fixed;
}

.menuBar .page-cover {
    display: block;
}

.menuBar {
    overflow: hidden;
}

/* ================== footer ================== */
footer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 500px) 1fr;
    background-color: #ec6c2b;
    margin-top: auto;

    /* bottom: 0; */
}

footer  div {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    height: 100px;
}

footer div a {
    align-self: center;
    font-weight: bold;
    color: #ffffff;
}

footer div i {
    margin-right: 5px;
}

/* ~~~~~~~~~~~~~~~~~~ #artwork ~~~~~~~~~~~~~~~~~~ */
#artwork article {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    
}

#artwork article > * {
    grid-column: 2 / -2;
}

#artwork article h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 0;
    font-size: 20px;
    text-shadow: 0 0 1px #000000;
}

#artwork article > div {
    background-color: transparent;
}

#artwork article > p {
    margin: 20px 0;
}

#artwork main article figure {
    grid-column: 2 / -2;
    height: 50vw;
    width: 100%;
    /* margin: 20px 0; */
}

#artwork main article > figure img {
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

#artwork article > figure iframe {
    height: 100%;
    vertical-align: bottom;
}

#artwork main > article > div:last-of-type {
    display: flex;
    grid-column: 1 / -1;
    justify-self: center;
    padding: 100px 0;
    width: 100%;
    max-width: 500px;
    justify-content:space-around;
} 

#artwork main > article > div:last-of-type p {
    font-size: 12px;
    margin: 0;
}

#artwork main > article > div:last-of-type button {
    display: block;
    font-size: 12px;
    margin: 0;
    top: auto;
    left: auto;
    position: relative;
}

#artwork main > article > div:last-of-type button[type='submit']{
    font-weight: bold;
    color: #ffffff;
    text-shadow: none;
    padding: 12px 0px;
    border-radius: 10px;
    background-color: #ec6c2b;
    -webkit-appearance: none;
}

#artwork main > article > div:last-of-type a {
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #ec6c2b;
}

/* ~~~~~~~~~~~~~~~~~~ #login main ~~~~~~~~~~~~~~~~~~ */
#login main {
    display: grid;
    grid-template-rows: calc(100vh - 100px);
    height: auto;
}

#login main form {
    justify-self: center;
    align-self: center;
}

#login main p {
    margin: 20px 0;
}

#login main input {
    border: solid 1px #000000;
    width: 70vw;
    padding: 10px 0;
    box-sizing: border-box;
}

#login input:last-of-type {
    text-align: center;
}

#login input[type="submit"] {
    background-color: #ec6c2b;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    -webkit-appearance: none;
}

/* ~~~~~~~~~~~~~~~~~~ #artworkcreat ~~~~~~~~~~~~~~~~~~ */
#artworkcreate main {
    display: grid;
    height: auto;
    padding: 50px 0;
}

#artworkcreate main form {
    justify-self: center;
    align-self: center;
}

#artworkcreate select {
    width: 70vw;
    padding: 10px;
    border: solid 1px #000000;
    font-size: 12px;
    font-weight: bold;
}

#artworkcreate main form > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#artworkcreate main form > div div {
   height: 400px;
   padding: 20px;
   border: solid 1px rgba(0, 0, 0, 0.2);
}

#artworkcreate main form > p {
    margin: 20px 0;
}

#artworkcreate main input,
#artworkcreate main label,
#artworkcreate main img {
    border: solid 1px #000000;
    width: 70vw;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}

#artworkcreate input[type="submit"] {
    background-color: #ec6c2b;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~ #user ~~~~~~~~~~~~~~~~~~ */
#user header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: repeat(2, 50vh);
}

#user header figure:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 25;
    position: relative;
}

#user header figure:first-of-type img {
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 50%;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
}

#user header figure:last-of-type {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: calc(100vh - 20px);
}

#user header figure:last-of-type img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    filter: blur(6px);
}

#user header figure:first-of-type p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 2px #ffffff;
}

#user header > div {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    position: relative;
}

#user header > div  p{
    width: 80%;
    margin-top: 40px;
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~ #user ~~~~~~~~~~~~~~~~~~ */
#user-update {
    min-height: minmax(calc(100vh - 100px));
}

#user-update main {
    display: grid;
}

#user-update main form {
    margin-top: 40px;
}

#user-update main form, figure {
    justify-self: center;
    align-self: center;
}

#user-update main img {
    width: 40vw;
    height: 40vw;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#user-update p {
    margin: 20px 0;
}

#user-update main label {
    display: block;
    width: 70vw;
    text-align: center;
    position: relative;
}

#user-update main label p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
}

#user-update main input {
    border: solid 1px #000000;
    width: 70vw;
    padding: 10px;
    box-sizing: border-box;
}

#user-update textarea {
    border: solid 1px #000000;
    width: 100%;
    height: 50vw;
    padding: 10px;
    font-size: 12px;
}

#user-update main input[type="submit"] {
    background-color: #ec6c2b;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}



/* ////////////////// Tablet 基本設定 ////////////////// */
@media (min-width: 700px) and (max-width:1199px) {
    body > * {
        grid-column: 2 / -1;
    }

    /* ================== header ================== */

    /* ================== mian ================== */
    main > div {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }

    main > div > section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
        column-gap: 5%;

        grid-column: 2;
    }

    main > div > section > p {
        grid-column: 1 / -1;
    }

    main h2 {
        grid-column: 1 / -1;
        font-size: 40px;
        margin: 50px 0;
    }

    main section > a:nth-last-of-type(-n+2) {
        border: none;
    }

    main h3 {
        margin-left: 0;
        font-size: 25px;
    }

    main article > figure img {
        height: 20vw;
    }

    main article > div {
        padding-left: 0px;
        margin: 20px 0;
    }

    main article > div > img {
        width: 50px;
        height: 50px;
    }

    main article > div > p {
        font-size: 18px;
        margin-left: 15px;
    }

    main article > div time {
        font-size: 18px;
        margin-right: 0px;
    }

    main > div > section > p {
        padding: 80px 0;
    }
    
    main > div > section > p a {
        font-size: 20px;
        padding: 15px 50px;
        border-radius: 15px;
    }

    /* ================== nav ================== */
    #nav{
        grid-column: 1;
        width: 0px;
        transition: width 1s;
    }

    /* ================== footer ================== */

    /* ~~~~~~~~~~~~~~~~~~ #artwork ~~~~~~~~~~~~~~~~~~ */
    #artwork main article h3 + figure {
        margin: 0;
    }

    #artwork main article > figure {
        height: 50vw;
        margin: 40px 0;
    }
    
    #artwork main article > figure img {
        height: 100%;
        object-fit: cover;
    }

    #artwork article > p {
        margin: 40px 0;
        line-height: 28px;
    }

    /* ~~~~~~~~~~~~~~~~~~ #login main ~~~~~~~~~~~~~~~~~~ */
    #login main input {
        margin: 20px 0;
        width: 40vw;
        padding: 10px;
        transition: width 1s;
    }
}

/* ////////////////// Personal Computer 基本設定 ////////////////// */
@media (min-width: 1200px) {
    body > * {
        grid-column: 2 / -1;
    }

    /* ================== header ================== */

    /* ================== mian ================== */
    main > div {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }

    main > div > section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5%;
        column-gap: 5%;

        grid-column: 2 / -2;
    }

    main > div > section > p {
        grid-column: 1 / -1;
    }

    main h2 {
        grid-column: 1 / -1;
        font-size: 40px;
        margin: 50px 0;
    }

    main section > a:nth-last-of-type(-n+3) {
        border: none;
    }

    main h3 {
        margin-left: 0;
        font-size: 22px;
    }

    /* main article > figure {
        height: 12.5vw;
    } */

    main article > figure img {
        height: 12.5vw;
    }

    main article > div {
        padding-left: 0px;
        margin: 20px 0;
    }

    main article > div > img {
        width: 30px;
        height: 30px;
    }

    main article > div > p {
        font-size: 16px;
        margin-left: 10px;
    }

    main article > div time {
        font-size: 16px;
        margin-right: 0px;
    }

    main > div > section > p {
        padding: 100px 0;
    }
    
    main > div > section > p a {
        font-size: 20px;
        padding: 15px 50px;
        border-radius: 15px;
    }
    
    /* ================== nav ================== */
    #nav{
        grid-column: 1;
        width: 270px;
        transition: width 1s;
    }
    
    nav {
        margin-left: 0;
    }

    button {
        display: none;
    }

    /* ================== footer ================== */

    /* ~~~~~~~~~~~~~~~~~~ #artwork ~~~~~~~~~~~~~~~~~~ */
    #artwork main article h3 + figure {
        margin: 0;
    }
    
    #artwork main article > figure {
        height: 40vw;
        margin: 40px 0;
    }
    
    #artwork main article > figure img {
        height: 100%;
        object-fit: cover;
    }

    #artwork #artwork article > p {
        font-size: 18px;
        margin: 40px 0;
        line-height: 30px;
    }

    /* ~~~~~~~~~~~~~~~~~~ #login main ~~~~~~~~~~~~~~~~~~ */
    #login main input {
        margin: 20px 0;
        width: 30vw;
        padding: 10px;
        transition: width 1s;
    }
}