{% extends 'base.html' %}
{% load static %}

{% block body_id %}login{% endblock %}

{% block content %}
<main>
    <form method="post">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.username.errors }}</p>
        
        {% url 'users:login' as login_url %}
        {% if request.path == login_url %}

        <p>{{ form.password }}</p>
        <p>{{ form.password.errors }}</p>
        <p><input type="submit" value="ログイン"/></p>

        {% else %}
        
        <p>{{ form.password1 }}</p>
        <p>{{ form.password1.errors }}</p>
        <p>{{ form.password2 }}</p>
        <p>{{ form.password2.errors }}</p>

        <p>パスワードは次の4つに従って決定してください</p>
        <ul>
            <li>8文字以上</li>
            <li>英字を含むこと</li>
            <li>ユーザー名と似すぎないこと</li>
            <li>一般的(soccer,appleなど)でないこと</li>
        </ul>

        <p><input type="submit" value="とうろく"/></p>

        {% endif %}
    </form>
</main>
{% endblock %}