{% extends 'base.html' %}
{% load static %}

{% block body_id %}user{% endblock %}

{% block header %}
<header>
    <figure>
        <div>
            <img src="{{ creator.icon.url }}" alt="">
            <p>{{ creator.username }}</p>
        </div>
    </figure>
    <figure>
        <img src="{% static 'img/modeling.jpg' %}" alt="">
    </figure>
    <div>
        <p>{{ creator.profile }}</p>
    </div>
</header>
{% endblock %}

{% block content %}
<main>
    <div>
        <section>
            <h2>{{ creator.username }}<span>の</span>作品集</h2>
            {% for content in object_list %}
            {% include 'main/content_card.html' %}
            {% endfor %}

            <div>
                {% include 'main/paginator.html' %}
            </div>
        </section>
    </div>    
</main>

<button type="button" onclick='userInfo()' class="userInfoOpen">
    <img src="{% static 'images/cogs-solid.svg' %}" alt="" class="icon">
</button>

<div class="pop">
    <div>
        <p><a href="#">パスワードを変更</a></p>
        <p><a href="#">プロフィールを変更</a></p>
        <!-- <button type="button" onclick=''><i class="fas fa-times-circle"></i></button> -->
        <button type="button" onclick=''><img src="{% static 'images/times-circle-solid.svg' %}" alt="" class="icon"></button>
    </div>
</div>

<script>
    //userInfoの表示非表示
    function userInfo(){
        document.querySelector('body').classList.toggle('userInfo');
    }
</script>
{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}