{% extends 'base.html' %}
{% load static %}

{% block body_id %}user-update{% endblock %}

{% block content %}
<main>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            <img id="preview" src="{{ user.icon.url }}" alt="">
            <p>編集する</p>
            {{ form.icon }}
            {{ form.icon.errors }}
        </label>
        <p>{{ form.username }}</p>
        <p>{{ form.username.errors }}</p>
        <p>{{ form.email }}</p>
        <p>{{ form.email.errors }}</p>
        <p>{{ form.profile }}</p>
        <p>{{ form.profile.errors }}</p>
        <p><input type="submit" value="変更する" /></p>
    </form>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$('#{{ form.icon.id_for_label }}').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>
{% endblock %}