
{% load static %}

<!doctype html>
<html lang="ja">
  <head>
      <title>Idea Box</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- ////////////////// nav ////////////////// -->
    <div id="nav">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'main:create' %}">とうこう</a></li>
                <li><a href="{% url 'users:logout' %}">ログアウト</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}">ログイン</a></li>
                <li><a href="{% url 'users:signup' %}">アカウント作成</a></li>
                {% endif %}
                <li><a href="{% url 'main:index' %}">トップページ</a></li>
                <li><a href="{% url 'main:list_by_type' 'scratch' %}">Scratch</a></li>
                <li><a href="{% url 'main:list_by_type' 'unity' %}">Unity</a></li>
                <li><a href="{% url 'main:list_by_type' 'web' %}">Web</a></li>
                <li><a href="{% url 'main:list_by_type' 'artwork3d' %}">モデリング</a></li>
                <li><a href="#">メンター紹介</a></li>
            </ul>
        </nav>
    </div>
    <button type="button" onclick='menuBar()'>
        <i class="fas fa-bars"></i>
    </button>
    <a href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
    <span class="page-cover" onclick="menuBar()"></span>

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    <!-- ////////////////// javascript ////////////////// -->
    <script src="https://kit.fontawesome.com/0ca1bb9859.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- Optional JavaScript -->
    <script src="{% static 'script/main.js' %}"></script>

    <script>
        //ページ内のリンク移動のスクロール処理
        $(function(){
        $('a[href^="#"]').click(function(){
        var speed = 500;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
        });
        });

        //menuBarの開閉
        function menuBar(){
            document.querySelector('body').classList.toggle('menuBar');
        }
    </script>
    {% endblock %}
  </body>
</html>